body {
  margin: 0px auto;
  background-color: #f0eef4;
}

#head_container {
  display: grid;
  grid-template-columns: minmax(50px, 1fr) 1.5fr minmax(50px, 1fr);
  background-color: #FEFDFC;
  grid-auto-rows: minmax(50px, auto);
  width: 100%;
  box-sizing: border-box;
  justify-items: center;
  align-items: center;
  padding: 0px 10px;
}

#head_container img {
  width: 100px;
  margin: 10px 0px;
  box-sizing: border-box;
}

#search_div {
  place-self: center;
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
}

#input_search {
  width: clamp(50px, 20vw, 500px);
  height: 20px;
  padding: 5px;
  font-size: medium;
  background-color: #f0eef4;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(10, 21, 10, 0.5);
}

.searchb {
  background-color: rgb(121, 75, 6);
  color: white;
}

nav {
  justify-self: center;
  padding: 0px 10px;
}

.navb {
  background-color: rgb(8, 8, 112);
  color: white;
  margin: 0px 5px;
}

.button {
  margin: 2px 0px;
  padding: 2px 5px;
  border-radius: 10px;
  width: 70px;
  font-size: 16px;
  text-align: center;
}

.button:hover {
  border-radius: 20px/10px;
  background-color: rgb(111, 62, 157);
}

/* header styling ended */

/* main styling started */

/* navigation_links_sec styles started */

#navigation_links_sec {
  display: grid;
  background-color: #fbfcfe;
  grid-template-columns: repeat(auto-fit, minmax(50px, 100px));
  justify-content: space-around;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.navitemlinks img{
  height: 80%;
  width: 99%;
  object-fit: fill;
  /* padding: 0px; */
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a h4 {
  margin: 0px auto;
  text-align: center;
}

.navitemlinks {
  margin: 0px 8px;
  justify-self: center;
  align-self: stretch;
  width: 100px;
  height: 150px;
}

main {
  padding-top: 10px;
  width: 98vw;
  margin: 0px auto;
  display: grid;
  row-gap: 10px;
  /* background-color: black; */
  box-sizing: border-box;
}

#banner_1 {
  background-color: rgb(255, 51, 0);
  height: 250px;
  width: 98vw;
  box-sizing: border-box;
}

#banner_1 img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

#sec3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  justify-items: space-between;
  box-sizing: border-box;
  column-gap: 10px;
}

.banner_div {
  height: 250px;
  box-sizing: border-box;
  /* justify-self: stretch; */
}

.banner_div img {
  height: 100%;
  width: 100%;
  object-fit: fill;

  padding: 0px 0px 1px 0px;
  box-sizing: border-box;
}

#sec4 {
  display: grid;
  background-color: #FEFDFD;
  padding: 20px 0px;
}
#lower_ban_header {
  place-self: center;

}

#lower_ban_header h2 {
  font-size: x-large;
}

#prds {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  box-sizing: border-box;
  column-gap: 10px;
}

.items {
  height: 260px;
  width: 200px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #FEFDFD;
  align-self: center;
  border: 1px solid gainsboro;
  margin-bottom: 20px;

}

.items img {
  height: 90%;
  width: 99%;
  object-fit: fill;
  padding: 10px;
  box-sizing: border-box;
}

.items a>h4{
font-size: large;
margin-bottom: 10px;
}

footer{
  width: 100%;
  background-color: rgb(28, 27, 27);
  /* text-align: center; */
  color: rgb(249, 242, 242);
  margin-top: 10px;
}


#footmain{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px,1fr));
  justify-items: center;
}

.sub_cont_foot{

display: grid;
justify-items: center;

}

.sub_cont_foot h4{
  color: rgb(145, 143, 143);
}

#sub{
  display: grid;
  place-items: center;
}

#foot p{
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 0px;
  margin-top: 30px;
}

h5{
  margin: 5px;
}

h5:hover{
  text-decoration: underline;
}